/* 
Padronização
Usar o prefixo: (my-politicaDePrivacidade-s1-). 
Colocar primeiro o prefixo (my-politicaDePrivacidade-s1-), depois as classes do bootstrap 
Isso ajuda na hora de diferenciar as classes criadas pela equipe de desenvolvimento e as classes já predefinidas do bootstrap
*/



/* Política de Privacidade */
.my-politicaDePrivacidade-s1 {
    display: inline-block;
    position: relative;
}
.my-politicaDePrivacidade-s1::after {
    content: "";
    display: block;
    width: 30px;
    height: 3px;
    margin: 4px 0px;
    background-color: var(--cor-verdeDestaque);
    position: absolute;
    left: 0;
    border-radius: 20px;
}