/* 
Padronização
Usar o prefixo: (my-doacao-s1-). 
Colocar primeiro o prefixo (my-doacao-s1-), depois as classes do bootstrap 
Isso ajuda na hora de diferenciar as classes criadas pela equipe de desenvolvimento e as classes já predefinidas do bootstrap
*/



/* Texto Doe*/
.my-doacao-s1-textoDoe{
    color: var(--cor-verdeEscuro);
    font-weight: 700;
}



/* Texto */
.my-doacao-s1-texto p{
    color: var(--cor-cinza);
}



/* Card */
.my-doacao-s1-card{
    box-shadow: var(--sombra-preta);
    padding: 20px
}



/* Btn Valores e Doe Agora */
.my-doacao-s1-btnValores {
    width: 100%;
    background-color: var(--cor-verdeEscuro);
    color: var(--cor-branco);
    box-shadow: var(--sombra-preta);
    height: 40px;
    border-radius: 10px;
}
.my-doacao-s1-btnValores:hover {
    opacity: 90%;
}
.my-doacao-s1-btnDoeAgora {
    width: 100%;
    background-color: var(--cor-amarelo);
    color: var(--cor-preto);
    box-shadow: var(--sombra-preta);
    font-weight: 600;
    border-radius: 10px;
    height: 60px;
}
.my-doacao-s1-btnDoeAgora:hover {
    opacity: 80%;
}