/* 
Padronização
Usar o prefixo: (my-parcerias-s3-). 
Colocar primeiro o prefixo (my-parcerias-s3-), depois as classes do bootstrap 
Isso ajuda na hora de diferenciar as classes criadas pela equipe de desenvolvimento e as classes já predefinidas do bootstrap
*/


/* Depoimentos*/
.my-parcerias-s2-depoimentos {
    display: inline-block;
    position: relative;
}
.my-parcerias-s2-depoimentos::after {
    content: "";
    display: block;
    width: 30px;
    height: 3px;
    margin: 2px 0px;
    background-color: var(--cor-verdeDestaque);
    position: absolute;
    left: 0;
    border-radius: 20px;
}



/* Foto Pessoa */
.my-parcerias-s3-fotoPessoa img{
    border: 1px solid var(--cor-preto);
    border-radius: 100%;
    object-fit: cover;
    max-width: 100px;
    height: 100px;
}



/* Texto 1*/
.my-parcerias-s3-texto1 {
    color: var(--cor-cinza);
}



/* Texto 2*/
.my-parcerias-s3-texto2 {
    color: var(--cor-cinza);
    font-weight: 500;
}



/* Cor das estrelas */
.my-parcerias-s3-stars .fa-star {
    color: #d3d3d3; /* Cor cinza para estrelas vazias */
}

.my-parcerias-s3-stars .fa-star.checked {
    color: var(--cor-amarelo); /* Cor amarela para estrelas preenchidas */
}



/* Efeito de aumento e desfoque */
.my-parcerias-s3-depoimento-card {
    transition: transform 0.3s;
}

.my-parcerias-s3-depoimento-card:hover {
    transform: scale(1.03); 
}

