/* 
Padronização
Usar o prefixo: (my-parcerias-s3-). 
Colocar primeiro o prefixo (my-parcerias-s3-), depois as classes do bootstrap 
Isso ajuda na hora de diferenciar as classes criadas pela equipe de desenvolvimento e as classes já predefinidas do bootstrap
*/


/* Depoimentos*/
.my-parcerias-s2-depoimentos {
    display: inline-block;
    position: relative;
}
.my-parcerias-s2-depoimentos::after {
    content: "";
    display: block;
    width: 30px;
    height: 3px;
    margin: 2px 0px;
    background-color: var(--cor-verdeDestaque);
    position: absolute;
    left: 0;
    border-radius: 20px;
}



/* Foto Pessoa */
.my-parcerias-s3-fotoPessoa {
    border: 1px solid var(--cor-preto);
    border-radius: 100%;
    height: 100px;
    width: 100px;
}



/* Texto 1*/
.my-parcerias-s3-texto1 {
    color: var(--cor-cinza);
}



/* Texto 2*/
.my-parcerias-s3-texto2 {
    color: var(--cor-cinza);
    font-weight: 500;
}

