/* 
Padronização
Usar o prefixo: (my-parcerias-s2-). 
Colocar primeiro o prefixo (my-parcerias-s2-), depois as classes do bootstrap 
Isso ajuda na hora de diferenciar as classes criadas pela equipe de desenvolvimento e as classes já predefinidas do bootstrap
*/


/* Parceiros Estrategicos */
.my-parcerias-s2-parceirosEstrategicos {
    display: inline-block;
    position: relative;
}
.my-parcerias-s2-parceirosEstrategicos::after {
    content: "";
    display: block;
    width: 30px;
    height: 3px;
    margin: 2px 0px;
    background-color: var(--cor-verdeDestaque);
    position: absolute;
    left: 0;
    border-radius: 20px;
}



/* Texto */
.my-parcerias-s2-texto {
    color: var(--cor-cinza);
}



/* Card */
.my-parcerias-s2-partner-grid { 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}
.my-parcerias-s2-partner-card {
    cursor: pointer;
    transition: transform 0.3s;
    background-color: white;
    border-radius: 10px;
    box-shadow: var(--sombra-preta);
    text-align: center;
}
.my-parcerias-s2-partner-card:hover {
    transform: scale(1.05);
}
.my-parcerias-s2-partner-card img {
    height: 70px;
}


/* Responsividade */
@media (max-width: 1200px) {
    .my-parcerias-s2-partner-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 992px) {
    .my-parcerias-s2-partner-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .my-parcerias-s2-partner-grid {
        grid-template-columns: 1fr;
    }
    .my-parcerias-s2-conexoes {
        font-size: 1.5rem;
    }
    .my-parcerias-s2-texto {
        font-size: 1rem;
    }
}

@media (max-width: 576px) {
    .my-parcerias-s2-partner-grid {
        gap: 10px;
        padding: 10px;
    }
    .my-parcerias-s2-partner-card img {
        height: 150px;
    }
}

