/* 
Padronização
Usar o prefixo: (my-divulgacao_noticias-s1-). 
Colocar primeiro o prefixo (my-divulgacao_noticias-s1-), depois as classes do bootstrap 
Isso ajuda na hora de diferenciar as classes criadas pela equipe de desenvolvimento e as classes já predefinidas do bootstrap
*/




/* Divulgação - Noticias */
.my-divulgacao_noticias-s1-noticias {
    display: inline-block;
    position: relative;
}
.my-divulgacao_noticias-s1-noticias::after {
    content: "";
    display: block;
    width: 30px;
    height: 3px;
    margin: 2px 0px;
    background-color: var(--cor-verdeDestaque);
    position: absolute;
    left: 0;
    border-radius: 20px;
}



/* Btn Salvar Alterações */
.my-divulgacao_noticias-s1-btnSalvarAlterações {
    width: 100%;
    background-color: var(--cor-verdeEscuro);
    color: var(--cor-branco);
    box-shadow: var(--sombra-preta);
    padding: 5px;
    border-radius: 10px;
}
.my-divulgacao_noticias-s1-btnSalvarAlterações:hover {
    opacity: 90%;
}



/* Imagem */
.my-divulgacao_noticias-s1-imagem {
    width: 100%;
    height: 150px;
    object-fit: cover;
}



/* Btn Ver Noticias */
.my-divulgacao_noticias-s1-btnVernoticias {
    width: 45%;
    background-color: var(--cor-verdeEscuro);
    color: var(--cor-branco);
    box-shadow: var(--sombra-preta);
    padding: 5px 10px;
    border-radius: 10px;
}
.my-divulgacao_noticias-s1-btnVernoticias:hover {
    opacity: 90%;
}



/* Index */
.my-divulgacao_noticias-s1-index {
    color: var(--cor-cinza);
    font-weight: 500;
}