<div class="my-menu-efeito">
    <div class="container">
        <div class="my-menu-navbar navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">


                <!-- Logo -->
                <a href="../../../html/pages/index/index.html"><img class="my-menu-logo"
                        src="../../../midias/img/global/logo.png" alt="Logo Usina"></a>


                <!-- Responsividade -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>


                <!-- Itens Menu -->
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav ms-auto">
                        <!-- Links com dropdown -->
                        <li class="nav-item"><a id="my-menu-index" class="my-menu-links" aria-current="page" href="../../../html/pages/index/index.html">Home</a></li>
                        <li class="nav-item"><a id="my-menu-doacao" class="my-menu-links" aria-current="page" href="../../../html/pages/doacao/doacao.html">Doação</a></li>
                        <li class="nav-item"><a id="my-menu-peticao" class="my-menu-links" aria-current="page" href="../../../html/pages/peticao/peticao.html">Petição</a></li>
                        <li class="nav-item"><a id="my-menu-loja" class="my-menu-links" aria-current="page" href="../../../html/pages/loja/loja.html">Loja</a></li>
                        <li class="nav-item"><a id="my-menu-contato" class="my-menu-links" aria-current="page" href="../../../html/pages/contato/contato.html">Contato</a></li>

                        <!-- Links com dropdown -->
                        <li class="nav-item dropdown">
                            <a id="my-menu-usina" class="dropdown-toggle my-menu-links" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">Usina</a>
                            <ul class="dropdown-menu">
                                <li><a id="my-menu-historia" class="my-menu-links" href="../../../html/pages/historia/historia.html">História</a></li>
                                <li><a id="my-menu-impacto" class="my-menu-links" href="../../../html/pages/impacto/impacto.html">Impacto</a></li>
                                <li><a id="my-menu-parcerias" class="my-menu-links" href="../../../html/pages/parcerias/parcerias.html">Parcerias</a></li>
                            </ul>
                        </li>

                        <!-- Links com dropdown -->
                        <li class="nav-item dropdown">
                            <a id="my-menu-divulgacao" class="my-menu-links dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">Divulgação</a>
                            <ul class="dropdown-menu">
                                <li><a id="my-menu-eventos" class="my-menu-links" href="../../../html/pages/divulgacao_eventos/eventos.html">Eventos</a></li>
                                <li><a id="my-menu-noticias" class="my-menu-links" href="../../../html/pages/divulgacao_noticias/noticias.html">Notícias</a></li>
                                <li><a id="my-menu-trabalhos" class="my-menu-links" href="../../../html/pages/divulgacao_trabalhos/trabalhos.html">Trabalhos</a></li>
                                <li><a id="my-menu-galeriaFotos" class="my-menu-links" href="../../../html/pages/divulgacao_galeriaFotos/galeriaFotos.html">Galeria Fotos</a></li>
                                <li><a id="my-menu-galeriaVideos" class="my-menu-links" href="../../../html/pages/divulgacao_galeriaVideos/galeriaVideos.html">Galeria Vídeos</a></li>
                            </ul>
                        </li>
                    </ul>


                    <!-- Divisão -->
                    <div class="my-menu-divisao">

                        <!-- Ícone ADM -->
                        <span id="admIcone" class="my-menu-iconeAdm" style="display: none;">
                            <i class="fa-solid fa-user-shield"></i>
                        </span>


                        <!-- Btn Login -->
                        <a href="#" class="my-menu-btnLogin" data-bs-toggle="modal" data-bs-target="#loginModal"
                            style="display: inline-block;">
                            <i class="fa-solid fa-user"></i> Login
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>