<div class="my-menu-efeito">
    <div class="container">
        <div class="my-menu-navbar navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">


                <!-- Logo -->
                <a href="../../../html/pages/index/index.html"><img class="my-menu-logo"
                        src="../../../media/img/global/logo.png" alt="Logo Usina"></a>


                <!-- Responsividade -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>


                <!-- Itens Menu -->
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav ms-auto">
                        <!-- Links sem dropdown -->
                        <li class="nav-item"><a class="my-menu-links" aria-current="page" href="#">Home</a></li>
                        <li class="nav-item"><a class="my-menu-links" aria-current="page" href="#">Doação</a></li>
                        <li class="nav-item"><a class="my-menu-links" aria-current="page" href="#">Petição</a></li>
                        <li class="nav-item"><a class="my-menu-links" aria-current="page" href="#">Loja</a></li>
                        <li class="nav-item"><a class="my-menu-links" aria-current="page" href="#">Contato</a></li>

                        <!-- Links com dropdown -->
                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle my-menu-links" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">Usina</a>
                            <ul class="dropdown-menu">
                                <li><a class="my-menu-links" href="#">História</a></li>
                                <li><a class="my-menu-links" href="#">Impacto</a></li>
                                <li><a class="my-menu-links" href="#">Parcerias</a></li>
                            </ul>
                        </li>

                        <!-- Links com dropdown -->
                        <li class="nav-item dropdown">
                            <a class="my-menu-links dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">Divulgação</a>
                            <ul class="dropdown-menu">
                                <li><a class="my-menu-links" href="#">Eventos</a></li>
                                <li><a class="my-menu-links" href="#">Notícias</a></li>
                                <li><a class="my-menu-links" href="#">Trabalhos</a></li>
                                <li><a class="my-menu-links" href="#">Galeria Fotos</a></li>
                                <li><a class="my-menu-links" href="#">Galeria Vídeos</a></li>
                            </ul>
                        </li>
                    </ul>


                    <!-- Divisão -->
                    <div class="my-menu-divisao">

                        <!-- Ícone ADM -->
                        <span id="adminButton" class="my-menu-iconeAdm">
                            <i class="fa-solid fa-user-shield"></i>
                        </span>

                        <!-- Btn Login -->
                        <a href="#" class="my-menu-btnLogin" data-bs-toggle="modal" data-bs-target="#loginModal"
                            style="display: inline-block;">
                            <i class="fa-solid fa-user"></i> Login
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>