<div class="my-rodape mt-5">
    <div class="container">

        <!-- Parte 1 -->
        <div class="row">

            <!-- Tópicos -->
            <div class="col-6 col-md-4 col-lg-2">
                <h6 class="my-rodape-cardTitulo">Tópicos</h6>
                <a href="#" class="my-rodape-cardTextLink mb-1">Home</a>
                <a href="#" class="my-rodape-cardTextLink mb-1">Doação</a>
                <a href="#" class="my-rodape-cardTextLink mb-1">Petição</a>
                <a href="#" class="my-rodape-cardTextLink mb-1">Loja</a>
                <a href="#" class="my-rodape-cardTextLink mb-5">Contato</a>
            </div>

            <!-- Usina -->
            <div class="col-6 col-md-4 col-lg-2">
                <h6 class="my-rodape-cardTitulo">Usina</h6>
                <a href="#" class="my-rodape-cardTextLink mb-1">História</a>
                <a href="#" class="my-rodape-cardTextLink mb-1">Impacto</a>
                <a href="#" class="my-rodape-cardTextLink mb-5">Parcerias</a>
            </div>

            <!-- Divulgação -->
            <div class="col-6 col-md-4 col-lg-2">
                <h6 class="my-rodape-cardTitulo">Divulgação</h6>
                <a href="#" class="my-rodape-cardTextLink mb-1">Eventos</a>
                <a href="#" class="my-rodape-cardTextLink mb-1">Notícias</a>
                <a href="#" class="my-rodape-cardTextLink mb-1">Trabalhos</a>
                <a href="#" class="my-rodape-cardTextLink mb-1">Galeria Fotos</a>
                <a href="#" class="my-rodape-cardTextLink mb-5">Galeria Vídeos</a>
            </div>

            <!-- Contato -->
            <div class="col-6 col-md-4 col-lg-2">
                <h6 class="my-rodape-cardTitulo">Contato</h6>
                <p class="my-rodape-cardText mb-2">usina@gmail.com</p>
                <p class="my-rodape-cardText mb-2">+55 11 99999-9999</p>
                <p class="my-rodape-cardText mb-5">Ipiranga
                </p>
            </div>

            <!-- Mídias Sociais e Pagamentos -->
            <div class="col-6 col-md-4 col-lg-2">

                <!-- Mídias Sociais -->
                <h6 class="my-rodape-cardTitulo">Mídias Sociais</h6>
                <a href="#"><i class="my-rodape-cardIconeMidiaSocial fab fa-facebook" title="facebook"></i></a>
                <a href="#"><i class="my-rodape-cardIconeMidiaSocial fab fa-instagram" title="instagram"></i></a>
                <a href="#"><i class="my-rodape-cardIconeMidiaSocial fab fa-youtube" title="youtube"></i></a>
                <a href="#"><i class="my-rodape-cardIconeMidiaSocial fab fa-spotify mb-3" title="spotify"></i></a>

                <!-- Pagamentos -->
                <h6 class="my-rodape-cardTitulo">Pagamento</h6>
                <img src="https://upload.wikimedia.org/wikipedia/commons/a/a2/Logo%E2%80%94pix_powered_by_Banco_Central_%28Brazil%2C_2020%29.svg"
                    alt="ícone do pix" height="30px" class="mb-5">
            </div>


            <!-- Newsletter -->
            <div class="col-6 col-md-4 col-lg-2">
                <h6 class="my-rodape-cardTitulo">Newsletter</h6>
                <form id="newsletterForm">
                    <!-- Email -->
                    <input class="form-control" type="email" name="email" placeholder="Email" required>
                    
                    <!-- Btn -->
                    <button type="submit" class="my-rodape-btnNewsletter mt-3">INSCREVER - SE</button>
                    
                    <!-- Configurações -->
                    <input type="hidden" name="_subject" value="Quero receber a Newsletter da Usina Eco-Cultural"> <!-- Título do Email -->
                    <input type="text" name="_honey" style="display:none">                                         <!-- Evitar que os emails enviados vão como span -->
                    <input type="hidden" name="_captcha" value="false">                                            <!-- Desabilitar o captcha depois de enviar o formulário-->
                </form>
            </div>
        </div>

        <!-- Parte 2 -->
        <hr class="my-rodape-hr">

        <!-- Parte 3 -->
        <div class="d-flex justify-content-between mb-3">
            <div>
                <div class="my-rodape-Text">© 2024 Todos Direitos Reservados</div>
                <div class="my-rodape-Text">Usina Eco-Cultural</div>
                <a href="#" class="my-rodape-TextLink">Política de Privacidade</a>
                <a href="#" class="my-rodape-TextLink">Termos de Uso</a>
                <a href="#" class="my-rodape-TextLink">Estatísticas</a>
                <a href="#" class="my-rodape-TextLink">Ajuda</a>
            </div>
            <a href="" class="my-rodape-iconeSeta"><i class="fas fa-arrow-up"></i></a>
        </div>
    </div>
</div>