<div class="my-r-rodape">
    <div class="container">

        <!-- SECTION 1 -->
        <div class="row">
            <!-- Tópicos -->
            <div class="col-12 col-md-6 col-lg-4 col-xl-2">
                <h6 class="my-r-cardTitulo">Tópicos</h6>
                <a href="#" class="my-r-cardTextLink mb-1">Home</a>
                <a href="#" class="my-r-cardTextLink mb-1">História</a>
                <a href="#" class="my-r-cardTextLink mb-1">Doação</a>
                <a href="#" class="my-r-cardTextLink mb-1">Petição</a>
                <a href="#" class="my-r-cardTextLink mb-1">Loja</a>
                <a href="#" class="my-r-cardTextLink mb-5">Contato</a>
            </div>

            <!-- Divulgação -->
            <div class="col-12 col-md-6 col-lg-4 col-xl-2">
                <h6 class="my-r-cardTitulo">Divulgação</h6>
                <a href="#" class="my-r-cardTextLink mb-1">Eventos</a>
                <a href="#" class="my-r-cardTextLink mb-1">Notícias</a>
                <a href="#" class="my-r-cardTextLink mb-5">Trabalhos</a>
            </div>

            <!-- Contato -->
            <div class="col-12 col-md-6 col-lg-4 col-xl-2">
                <h6 class="my-r-cardTitulo">Contato</h6>
                <p class="my-r-cardTextContato mb-2">usina@gmail.com</p>
                <p class="my-r-cardTextContato mb-2">+55 11 99999-9999</p>
                <p class="my-r-cardTextContato mb-5">R. Breno Ferraz do Amaral, 415 - Cursino, São Paulo - SP, 04124-020</p>
            </div>

            <!-- Mídias Sociais -->
            <div class="col-12 col-md-6 col-lg-4 col-xl-2">
                <h6 class="my-r-cardTitulo">Mídias Sociais</h6>
                <a href="#"><i class="my-r-cardIconMidiaSocial fab fa-facebook" title="facebook"></i></a>
                <a href="#"><i class="my-r-cardIconMidiaSocial fab fa-instagram" title="instagram"></i></a>
                <a href="#"><i class="my-r-cardIconMidiaSocial fab fa-youtube" title="youtube"></i></a>
                <a href="#"><i class="my-r-cardIconMidiaSocial fab fa-spotify mb-5" title="spotify"></i></a>
            </div>

            <!-- Pagamentos -->
            <div class="col-12 col-md-6 col-lg-4 col-xl-2">
                <h6 class="my-r-cardTitulo">Pagamento</h6>
                <img src="https://upload.wikimedia.org/wikipedia/commons/a/a2/Logo%E2%80%94pix_powered_by_Banco_Central_%28Brazil%2C_2020%29.svg"
                    alt="ícone do pix" height="30px" class="mb-5">
            </div>

            <!-- Newsletter -->
            <div class="col-12 col-md-6 col-lg-4 col-xl-2">
                <h6 class="my-r-cardTitulo">Newsletter</h6>
                <form>
                    <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                    <button type="submit" class="my-r-btnNewsletter mt-3">INSCREVER - SE</button>
                </form>
            </div>
        </div>

        <!-- SECTION 2 -->
        <hr class="my-r-hr">

        <!-- SECTION 3 -->
        <div class="d-flex justify-content-between">
            <p class="my-r-cardText">
                © 2024 Todos Direitos Reservados Usina Eco-Cultural |
                <a href="" class="my-r-cardTextLink" style="display: inline;">Política de Privacidade</a>
                <a href="" class="my-r-cardTextLink mx-2" style="display: inline;">Termos de Uso</a>
                <a href="" class="my-r-cardTextLink" style="display: inline;">Estatísticas</a>

            </p>
            <a href="" class="my-r-iconeSeta"><i class="fas fa-arrow-up"></i></a>
        </div>
    </div>
</div>
