/* Variáveis */
:root{
    --cor-preto: #000000;              
    --cor-pretoSecundario: #111111;   

    --cor-branco: #FFFFFF;             
    --cor-brancoSecundario: #F7F7F7;   

    --cor-cinza: #6C757D;
    --cor-cinzaSecundario: #ccc;             

    --cor-verdeDestaque: #69A625;     
    --cor-verdeEscuro: #648A53;         
    --cor-verdeClaro: #66BB6A;         

    --cor-vermelho: #FF1E1E;          
    --cor-amarelo: #FFFF35;          
    --cor-azul: #3A90C3;              

    --sombra-preta: 0 4px 8px rgba(0, 0, 0, 0.2);
}