/* 
Padronização
Usar o prefixo: (my-impacto-s3-). 
Colocar primeiro o prefixo (my-impacto-s3-), depois as classes do bootstrap 
Isso ajuda na hora de diferenciar as classes criadas pela equipe de desenvolvimento e as classes já predefinidas do bootstrap
*/



/* Polo Cultural do Ipiranga */
.my-impacto-s3-poloCulturalIpiranga {
    display: inline-block;
    position: relative;
}
.my-impacto-s3-poloCulturalIpiranga::after {
    content: "";
    display: block;
    width: 30px;
    height: 3px;
    margin: 4px 0px;
    background-color: var(--cor-verdeDestaque);
    position: absolute;
    left: 0;
    border-radius: 20px;
}



/* Texto */
.my-impacto-s3-texto {
    color: var(--cor-cinza);
    font-size: 14px;
}



/* Imagem */
.my-impacto-s3-imagem {
    width: 100%;
    height: auto;
    max-height: auto;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.6s ease;
}
.my-impacto-s3-imagem:hover {
    transform: scale(1.02);
}
@media (max-width: 768px) {
    .my-impacto-s3-imagem {
        margin-top: 30px;
    }
}



/* Inversão das partes para ficar texto e imagem */
@media (max-width: 768px) {
    .my-impacto-s3-row {
        display: flex;
        flex-direction: column-reverse;
    }
}
