/* 
Padronização
Usar o prefixo: (my-login-). 
Colocar primeiro o prefixo (my-login-), depois as classes do bootstrap 
Isso ajuda na hora de diferenciar as classes criadas pela equipe de desenvolvimento e as classes já predefinidas do bootstrap
*/



/* Btn Entrar */
.my-login-btnEntrar{
    width: 100%;
    background-color: var(--cor-verdeEscuro);
    color: var(--cor-branco);
    box-shadow: var(--sombra-preta);
    padding: 5px;
    border-radius: 10px;
}
.my-login-btnEntrar:hover{
    opacity: 90%;
}



/* Linha Horizontal */
.my-login-hr{
    color: var(--cor-cinza);
}

