/* 
Padronização
Usar o prefixo: (my-recuperarSenha-). 
Colocar primeiro o prefixo (my-recuperarSenha-), depois as classes do bootstrap 
Isso ajuda na hora de diferenciar as classes criadas pela equipe de desenvolvimento e as classes já predefinidas do bootstrap
*/



/* Btn Recuperar Senha */
.my-recuperarSenha-btnRecuperarSenha{
    width: 100%;
    background-color: var(--cor-verdeEscuro);
    color: var(--cor-branco);
    box-shadow: var(--sombra-preta);
    padding: 5px;
    border-radius: 10px;

}
.my-recuperarSenha-btnRecuperarSenha:hover{
    opacity: 90%;
}



/* Linha Horizontal */
.my-recuperarSenha-hr{
    color: var(--cor-cinza);
}



/* Clique Aqui */
.my-recuperarSenha-cliqueAqui{
    color: var(--cor-verdeClaro);
    text-decoration: none;
}
.my-recuperarSenha-cliqueAqui:hover{
    color: var(--cor-verdeClaro);
    text-decoration: underline;
}