/* 
Padronização
Usar o prefixo: (my-rodape-). 
Colocar primeiro o prefixo (my-rodape-), depois as classes do bootstrap 
Isso ajuda na hora de diferenciar as classes criadas pela equipe de desenvolvimento e as classes já predefinidas do bootstrap
*/



/* Rodapé */
.my-rodape {
    background-color: var(--cor-pretoSecundario);
    padding: 20px 0 5px 0; 
    margin-top: 50px;
}



/* Card Título e Texto*/
.my-rodape-cardTitulo {
    color: var(--cor-verdeClaro);
}
.my-rodape-cardText {
    color: var(--cor-cinza);
}
.my-rodape-cardTextLink{
    color: var(--cor-cinza);
    text-decoration: none;
    display: block;
}
.my-rodape-cardTextLink:hover {
    color: var(--cor-cinza);
    text-decoration: underline;
}
@media (max-width: 990px) {
    .my-rodape-cardTextLink, .my-rodape-cardTitulo{
        font-size: 18px;
    }
}



/* Card Ícone Mídia Social */
.my-rodape-cardIconeMidiaSocial {
    color: var(--cor-cinza);
    font-size: 20px;
    margin-right: 10px;
}
.my-rodape-cardIconeMidiaSocial:hover{
    transform: scale(1.2);
}



/* Newsletter */
.my-rodape-btnNewsletter{
    width: 100%;
    background-color: var(--cor-verdeEscuro);
    color: var(--cor-branco);
    padding: 5px;
    border-radius: 10px;
}
.my-rodape-btnNewsletter:hover{
    opacity: 90%;
}



/* Linha horizontal */
.my-rodape-hr{
    color: var(--cor-cinza);
}


/* Parte 3 Texto */
.my-rodape-Text, .my-rodape-TextLink{
    color: var(--cor-cinza); 
    display: inline;
}
.my-rodape-TextLink{
    text-decoration: none;
    margin-left: 10px;
}
.my-rodape-TextLink:hover {
    color: var(--cor-cinza);
    text-decoration: underline;
}
@media (max-width: 990px) {
    .my-rodape-Text, .my-rodape-TextLink{
        font-size: 18px;
        display: block;
        margin-top: 3px;
        margin-left: 0px;
    }
}



/* Ícone Seta */
.my-rodape-iconeSeta{
    color: var(--cor-verdeClaro);
}
.my-rodape-iconeSeta:hover{
    color: var(--cor-verdeClaro);
    transform: scale(1.2);
}
@media (max-width: 990px) {
    .my-rodape-iconeSeta{
        font-size: 26px;
    }
}



/* Animação Loading */
.my-rodape-loading-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.my-rodape-loading-overlay.active {
    display: flex;
}
.my-rodape-spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spinRodape 1s linear infinite;
}
@keyframes spinRodape {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
