/* 
Padronização
Usar o prefixo: (my-divulgacao_galeriaVideos-s1-). 
Colocar primeiro o prefixo (my-divulgacao_galeriaVideos-s1-), depois as classes do bootstrap 
Isso ajuda na hora de diferenciar as classes criadas pela equipe de desenvolvimento e as classes já predefinidas do bootstrap
*/




/* Divulgação - Galeria Vídeos */
.my-divulgacao_galeriaVideos-s1-galeriaVideos {
    display: inline-block;
    position: relative;
}

.my-divulgacao_galeriaVideos-s1-galeriaVideos::after {
    content: "";
    display: block;
    width: 30px;
    height: 3px;
    margin: 2px 0px;
    background-color: var(--cor-verdeDestaque);
    position: absolute;
    left: 0;
    border-radius: 20px;
}



/* Btn Salvar Alterações */
.my-divulgacao_galeriaVideos-s1-btnSalvarAlterações {
    width: 100%;
    background-color: var(--cor-verdeEscuro);
    color: var(--cor-branco);
    box-shadow: var(--sombra-preta);
    padding: 5px;
    border-radius: 10px;
}

.my-divulgacao_galeriaVideos-s1-btnSalvarAlterações:hover {
    opacity: 90%;
}



/* Index */
.my-divulgacao_galeriaVideos-s1-index {
    color: var(--cor-cinza);
    font-weight: 500;
}